
 @import url('http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Montserrat:700|Merriweather:400italic');

iframe{
    width:1000px;
    height:1000px;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#map {
    height: 100vh;
}

.feed-background {
    background-color: #666666;
    height: 100vh;
}

.width-control{
    width: 800px !important;
    margin-top: 10px;
    height: 30px !important;
}

.search-bar-background {
    width: 100%;
    background-color: #661821;
    height: 50px;
    margin-top: 110px;
}

.search-padding {
    color: #fff;
    padding-left: 10px;
}

.search-bar-holder {
    position: absolute;
    right: 20px;
}

.search-bar {
    margin-top: 13px;
    width: 700px;
    margin-right: 30px;
}

input[type="text"] {
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    text-indent: 20px; 
    font-family: Montserrat;
}

input[type="text"]:focus {
  outline: none;
}

.style-2 {
  border: solid 0px #c9c9c9 !important;
  transition: border 0.3s !important;
  padding-right: 10px;
}

::-webkit-input-placeholder {
    text-indent:10px!important;
    font-family: Montserrat !important;
}
:-moz-placeholder {
    text-indent:10px!important;
    font-family: Montserrat !important;
}
::-moz-placeholder {
    text-indent:10px!important;
    font-family: Montserrat !important;
}
:-ms-input-placeholder {
    text-indent:10px!important;
    font-family: Montserrat !important;
}

.myButton {
    margin-top: -8px;
    padding-left: 10px;
    -moz-box-shadow: 0px 1px 0px 0px #1c1b18;
    -webkit-box-shadow: 0px 1px 0px 0px #1c1b18;
    box-shadow: 0px 1px 0px 0px #1c1b18;
    background-color:transparent;
    -moz-border-radius:30px;
    -webkit-border-radius:30px;
    border-radius:30px;
    border:2px solid #ffffff;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:14px;
    font-weight:bold;
    padding:4px 6px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
    background-color:transparent;
}
.myButton:active {
    position:relative;
    top:1px;
}



.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue", Helvetica, sans-serif;
    background-color: #666;
}

a {
    color: #222222;
    margin-top: 30px;
    font-size: 20px;
    margin-right: 20px;
    color: #661821 !important;
}

#cl-effect-3:hover::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 4px;
    content: '';
    /*opacity: 0;*/
    background-color: rgba(0,0,0,.5); !important;
    color: #661821 !important;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px);
}

#cl-effect-3:hover {
    background-color: #666;
}

/*#cl-effect-3 a::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 4px;
    background: rgba(0,0,0,0.1);
    content: '';
    opacity: 0;
    background-color: #000 !important;
    color: #661821 !important;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px);
}

#cl-effect-3 a:hover::after,
#cl-effect-3 a:focus::after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}*/



::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

body { 
    margin:0;
}

.side-section {
    background-color: #d9d2d2;
    height: 100vh;
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}